$btn-focus-box-shadow: none !important;
$theme-colors: (
  "primary": #37784f,
  "light": #ebf2ee,
);

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap");
@import "~bootstrap/scss/bootstrap";

* {
  transition-duration: 300ms;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #37784f !important;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  color: #000807;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.head {
  font-family: "Montserrat", sans-serif;
}

.gradient-bg {
  background: rgb(215, 228, 220);
  background: -moz-linear-gradient(180deg, rgba(215, 228, 220, 0.8) 0%, rgba(255, 255, 250, 0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(215, 228, 220, 0.8) 0%, rgba(255, 255, 250, 0) 100%);
  background: linear-gradient(180deg, rgba(215, 228, 220, 0.8) 0%, rgba(255, 255, 250, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7e4dc",endColorstr="#fffffa",GradientType=1);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}
